text {
    font-size: 300%;
    font-family: Raleway;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* background-color: rgb(51, 51, 51); */
    margin: 0;
    font-family: Raleway;
    overflow-x: hidden;
}

h5 {
    text-align: center;
    padding-top: 10px;
    font-family: raleway;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#navigation {
    /*background: Linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(emjee_consulting_kinaxis_cover_image.jpg);*/
    background: #f5f5f5;
    /*min-height: 100%;*/
    min-width: 100%;
    /*position:re;*/
    padding-top: 50px;
    /* background-size: cover;
background-position: center;*/
}

.navbar-nav.ml-auto li {
    /*position: relative;*/
    /* border-right: 0.5px solid #A40206;
border-left: 0.5px solid #A40206;*/
    height: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*  margin-right: 20px;
margin-left: 20px;*/
}

.navbar-nav.ml-auto li a {
    font-size: 16px;
    line-height: 4px;
    display: block;
    /*font-weight: bolder;*/
    text-align: center;
}

.navbar-nav.ml-auto li a:hover {
    background-color: #ffdd99;
}

.navbar-brand img {
    width: 250px;
    margin-left: 10px;
}

nav {
    width: 100%;
    z-index: 90 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    /*height: 50px;*/
}

.navbar .navbar-toggler {
    z-index: 1000;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background-color: #A40206;
    display: block;
    transition: all 0.2s;
    margin-top: 4px;
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

@media (max-width: 991.98px) {
    .cartbutton {
        background-color: rgb(40, 40, 40);
        border: none;
    }
    .navbar .navbar-collapse {
        /* background: rgb(40, 40, 40); */
        background: white;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center !important;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .navbar .navbar-collapse .nav-item {
        padding: 25px;
    }
    .navbar .navbar-collapse.collapse {
        display: flex;
        opacity: 0;
        pointer-events: none;
    }
    .navbar .navbar-collapse.collapsing[style*="height"] {
        opacity: 1;
        height: 100vh !important;
    }
    .navbar .navbar-collapse.collapsing {
        opacity: 0;
        height: 100vh;
    }
    .navbar .navbar-collapse.collapse.show {
        opacity: 1;
        pointer-events: auto;
    }
    .navbar .navbar-collapse .navbar-nav {
        position: absolute;
        top: 25%;
        width: 200%;
    }
}


/* .media-left {
    width: 50%
} */

.media-body {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    font-size: 12px;
}

li {
    padding-bottom: 10px;
}

.media-body h4 {
    text-align: center;
}

.media-body h6 {
    text-align: center;
}

.card {
    margin: 0;
    border: 0;
    padding: 1px;
    transition: -webkit-transform 0.3s ease;
    padding-bottom: 0px;
}

.card:hover {
    transform: scale(1.02, 1.02);
    z-index: 9;
    cursor: pointer;
}

.btn-view {
    border-radius: 0;
    border: 1px solid black;
    font-family: Raleway;
    background-color: skyblue;
    color: black;
}

.btn-primary {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.insta {
    text-align: center;
    width: 100%;
    max-height: 200px;
    padding-top: 100px;
}

.card-text {
    text-align: center;
}

.card-body {
    padding-bottom: 0px;
}

.maintain {
    padding-top: 15px;
}

.contact {
    text-align: center;
    padding-top: 30px;
}

.dropdown {
    left: 50%;
    right: auto;
    text-align: center;
    transform: translate(-50%, 0);
}

.shop {
    font-size: medium;
    border: 1px;
}

.shopp {
    font-size: xx-large
}

.closer {
    margin-top: 0px;
    padding-top: 0px;
}

.faq {
    padding-top: 25px;
}

.center {
    text-align: center;
}

.pippy {
    width: 100%;
    margin-bottom: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gForm {
    width: 100%;
    margin-bottom: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: block;
}

.about {
    padding-top: 15px;
}

.side {
    padding-left: 10px;
    padding-right: 10px;
}

#carouselExampleCaptions {
    min-height: 300px;
    height: 80vh;
    max-height: 1000px;
    overflow: hidden;
}

#carouselExampleCaptions .carousel-inner {
    height: 100%;
}

#carouselExampleCaptions .carousel-item {
    height: 100%;
}

#carouselExampleCaptions .carousel-item img {
    height: 100%;
    object-fit: cover;
}

.snipcart-modal__container {
    z-index: 99 !important;
}


/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 24px;
    border-radius: 8px;
    font-family: raleway;
    color: rgb(2, 7, 10);
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.3s ease background-color;
    background-color: rgb(139, 223, 139)
}

button[type="submit"]:hover {
    background-color: rgb(85, 190, 85);
}

.snipcart-add-item {
    width: 100%;
    font-family: raleway;
    padding: 10px;
    border-radius: 3px;
    background-color: #248232;
    margin-top: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button [type="addcart"]:hover {
    background-color: rgb(8, 90, 122);
}

.cartpic {
    max-width: 24px;
}

.cartbutton {
    background-color: white;
    border: none;
}

.mainh5 {
    font-size: 50px;
}

.mainP {
    font-size: 30px;
}

.maincap1 {
    background-color: #07070731;
}


/* .tomatopic {
    top: 30px;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}

.borderpic {
    border-style: solid;
    bottom: initial;
}

@media (max-width: 450.8px) {
    .mainh5 {
        font-size: 30px
    }
    .tomatopic {
        top: 40px;
        font-size: 20px;
    }
} */